body{
	background-color:black;
}
small{
	float: right;
	padding-right: 0px;
}

.action{
	text-align: right;
}

.dispart{
	margin: 0px auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;
	width: 800px;
	border-radius: 15px;
}

.pagenum{
	text-align: center;
}

#send{
	right: 0px;
	padding-top: 50px;
	padding-right: 50px;
	position: fixed;
	width: 100px;
}


