body{
	background-color:black;
}
small,a{
	float: right;
}
a{
	padding-right: 30px;
}

.dispart{
	margin: 0px auto;
	padding: 10px;
	background: rgba(255, 255, 255, 0.8) none repeat scroll 0 0 !important;
	width: 800px;
	border-radius: 15px;

}

#send{
	float: right;
	padding-right: 50px;
}